<div class="input-group">
  <div class="input-group-prepend">
    <button class="btn btn-success" type="button">ชื่อ</button>
  </div>
  <input type="text" class="form-control" [(ngModel)]="name"placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <button class="btn btn-success" type="button">ชื่อ</button>
  </div>
  <input type="number" class="form-control" [(ngModel)]="score"placeholder="" aria-label="" aria-describedby="basic-addon1">
</div>
<span *ngIf="score>50">เกรด A</span>
<span *ngIf="score<50">เกรด F</span>

<h3 class="text-center">รายชื่อนักเรียน</h3>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Student Name</th>
      <th>Weight</th>
      <th>Height</th>
      <th>BMI</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of studentlist">
      <td>{{s.studentId}}</td>
      <td>{{s.name}}</td>
      <td>{{s.weight}}</td>
      <td>{{s.height}}</td>
      <td>{{s.bmi}}</td>
      <td *ngIf="s.bmi>25">อ้วน</td>
      <td *ngIf="s.bmi<25">ผอม</td>
      <td *ngIf="s.bmi==25">ปกติ</td>
    </tr>
  </tbody>
</table>
